body{
    background-color: black;
}

form{
    background-color: #fff;
    position: absolute;
    left: 40%;
    top: 30%;
    padding: 10px;
    border-radius: 10px;
}

label{
    display: block;
    padding: 5px;
}

input{
    margin-bottom: 10px;
}

button{
    position: relative;
    left: 8px;
    background-color: greenyellow;
    border-radius: 20px;
    border: solid 1px greenyellow;
}

button:hover{
    background-color: #fff;
    color: greenyellow;
}